// Шрифты ============================================================================================================================
$fontFamily: "Poppins", sans-serif;
$fontSize: 15px;
$liheHeight: 27px;

// Цвета ============================================================================================================================
$blackColor: #000;
$whiteColor: #fff;
$bgColor: #171616;
$secondaryColor: #DB2512;
$grayColor: #B7B7B7;

// Отступы ============================================================================================================================
$mainOffset: 20px;