.feedback{
    transform: translateY(-50%);

    &__item{
        transition: transform .3s ease-in-out,box-shadow .3s ease-in-out;
        cursor: pointer;

        &:hover{
            transform: translateY(-8px);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.40);
        }
    }
}

// Modal window 
@import './feedback-request';
@import './feedback-map';
@import './feedback-modal';

