.header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100px;
    
    &__container{
        width: 1230px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@import './logo';
@import './nav';
@import './lang';
@import './nav-btn';
@import './mobile-menu';